Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-prefer-member-initializer,
  -modernize-use-trailing-return-type,
  -bugprone-easily-swappable-parameters

WarningsAsErrors: ''

HeaderFilterRegex: 'src/.*\.(hpp|h)$'

CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
